/*--------------------------------------------------------------
# Screen in half
--------------------------------------------------------------*/
/* body{margin-top:20px;
  background:#eee;
} */


/* body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #5688e6;
}

a:hover {
  color: #3b6fff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
} */

@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }

.text-cyan { color: #35bdff; }

.left-side {
  position: relative;
  overflow-y: scroll; 
}

.right-side {
  background: rgb(255, 255, 255);
  border-left: 1px solid  #b4b4b4;
  border-left-style: solid ;
  position: relative ;
  overflow-y: scroll; 
}

/*--------------------------------------------------------------
# Timeline
--------------------------------------------------------------*/

.timeline {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    color: #000000;    /* TEXT COLOR */
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    border-right: 2px dashed #c4d2e2;   /* MIDDLE LINE SPECS */
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
    /* border-color: 10px solid #000000; */
}

.timeline-row .timeline-time {        /* TIME AND MONTH */
    position: absolute;
    right: 50%;
    top: 31px;
    text-align: right;
    margin-right: 20px;
    color: #000000;
    font-size: 1.5rem;
}

.timeline-row .timeline-time small {
    display: block;
    font-size: .8rem;
    color: #8796af;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 3px;
  width: 40px;
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -50px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 100;
  background: #ffffff;
  border: 2px dashed #c4d2e2;
}


.timeline-row .timeline-content h4 {
    /* margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%; */
}

.timeline-row .timeline-content p {
    margin-bottom: 10px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 2rem;
    color: #ffffff;
    line-height: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
    margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {

  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #fc6d4c, #ff5000);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fc6d4c, #ff5000);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fc6d4c, #ff5000);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #ff3333, #ffffff);

  border: 1px solid #575353;
  border-radius: 5%;
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
    left: -39px;
    border-right: 18px solid #8c84ff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -50px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1379bb), to(#5a99ee));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #ffffff, #ffffff);


    
    margin-right: 40px;
    margin-left: 0;
    text-align: left;
    border: 1px solid #bbbbbb;
    border-radius: 5%;
    /* border-style: dotted; */
}

.timeline-row:nth-child(odd) .timeline-content:after {
    right: -39px;
    border-left: 18px solid #1379bb;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
    .timeline {
        padding: 15px 10px;
    }
    .timeline:after {
        left: 28px;
    }
    .timeline .timeline-row {
        padding-left: 0;
        margin-bottom: 16px;
    }
    .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row .timeline-time strong {
        display: inline-block;
        margin-right: 10px;
    }
    .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0;
    }
    .timeline .timeline-row .timeline-content {
        padding: 15px;
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .timeline .timeline-row .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding-right: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        right: auto;
        left: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
        border-right: 18px solid #5a99ee;
        border-left: inherit;
    }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
        left: 20px;
    }
    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
        left: 0;
    }
}

/*--------------------------------------------------------------
# FontAwesome
--------------------------------------------------------------*/

i.fab, i.far {
  /* border: 10px; */
  font-size: 30px;
}

.fa-linkedin {
  color: rgb(50, 32, 209);
}

.fa-linkedin:hover {
  color: rgb(120, 71, 255);
}

.fa-github {
  color: rgb(0, 0, 0);
}

.fa-github:hover {
  color: rgb(31, 146, 136);
}

.fa-whatsapp {
  color: rgb(33, 156, 49);
}

.fa-file{
  color: rgb(25, 15, 170);
}

.fa-whatsapp:hover {
  color: rgb(54, 52, 207);
}

.fa-google-drive {
  color: rgb(204, 169, 14);
}

.fa-google-drive:hover {
  color: rgb(9, 158, 9);
}

.fa-google {
  color: rgb(68, 103, 216);
}

.fa-google:hover {
  color: rgb(68, 216, 68);
}

.fa-code {
  color: rgb(54, 52, 207);
}