/*--------------------------------------------------------------
# Screen in half
--------------------------------------------------------------*/
/* body{margin-top:20px;
  background:#eee;
} */


/* body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #5688e6;
}

a:hover {
  color: #3b6fff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
} */

@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }

.text-cyan { color: #35bdff; }

.left-side {
  position: relative;
  overflow-y: scroll; 
}

.right-side {
  background: rgb(194, 192, 209);
  border-left: 1px solid  #b4b4b4;
  border-left-style: solid ;
  position: relative ;
  overflow-y: scroll; 
  background-color: #ffffff;
  
  /* Fallback Color */
  /* background-image: -webkit-gradient(linear, top, bottom, from(#ffffff), to(#7b7fd1)); */
  /* Saf4+, Chrome */
  /* background-image: -webkit-linear-gradient(top, #fc6d4c, #ff5000); */
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  /* background-image: -moz-linear-gradient(top, #fc6d4c, #ff5000); */
  /* FF3.6 */
  /* background-image: -ms-linear-gradient(top, #fc6d4c, #ff5000); */
  /* IE10 */
  /* background-image: -o-linear-gradient(top, #fc6d4c, #ff5000); */
  /* Opera 11.10+ */
  /* background-image: linear-gradient(top, #ffffff, #7b80d1); */
}

/*--------------------------------------------------------------
# Timeline
--------------------------------------------------------------*/

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline:before {    /* LINE */
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #6c7293;
  left: 50%;
  margin-left: -1px;
}

.timeline .timeline-wrapper {
  display: block;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  padding-right: 60px;
}

.timeline .timeline-wrapper:before {
  content: " ";
  display: table;
}

.timeline .timeline-wrapper:after {
  content: " ";
  display: table;
  clear: both;
}

.timeline .timeline-wrapper .timeline-panel {     /* CARDS */
  /* border-radius: 2px;  */
  padding: 20px;
  position: relative;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 1px 2px 35px 0 rgba(1, 1, 1, 0.1);
  width: 45%;
  margin-left: 5%;
  /* border-bottom: 1px solid inherit; */
}

.timeline .timeline-wrapper .timeline-panel:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  content: "";
  left: 0;
  right: 0;
}

.timeline .timeline-wrapper .timeline-panel:after {     /* Arrow   */
  position: absolute;
  top: 10px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #ffffff;
  border-right: 0 solid #ffffff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline .timeline-wrapper .timeline-panel .timeline-title {
  margin-top: 0;
  color: #001737;
  /* text-transform: uppercase; */
}

.timeline .timeline-wrapper .timeline-panel .timeline-title i {
  display: inline-block;
  border-radius: 100px;
  /* color: #dc5251;
  box-shadow: 0px 0px 1px #dc5251; */
  padding: 0.75em 0.75em;
  
  /* text-transform: uppercase; */
}

.timeline .timeline-wrapper .timeline-panel  p {
  font-size: .8875rem;
}

.timeline .timeline-wrapper .timeline-panel .timeline-body ul {
  margin-bottom: 0;
}

.timeline .timeline-wrapper .timeline-panel .timeline-footer b {
  font-size: .6875rem;
}

.timeline .timeline-wrapper .timeline-panel .timeline-footer i {
  font-size: 1.5rem;
}

.timeline .timeline-wrapper .timeline-badge {     /* CIRCLE in line */
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  left: calc(50% - 7px);
  z-index: 10;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 2px solid #ffffff;
}

.timeline .timeline-wrapper .timeline-badge i {
  color: #ffffff;
}


/*  --------------------
  INVERTED == RIGHT CARDS 
    -------------------- */


.timeline .timeline-wrapper.timeline-inverted {
  padding-right: 0;
  padding-left: 90px;
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel {
  margin-left: auto;
  margin-right: 7.5%;     /* DISTANVE OF RIGHT CARDS FROM THE LINE */
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/*  --------------------  MEDIA  -------------------- */

@media (max-width: 767px) {
  .timeline .timeline-wrapper {
    padding-right: 150px;
  }
  .timeline .timeline-wrapper.timeline-inverted {
    padding-left: 150px;
  }
  .timeline .timeline-wrapper .timeline-panel {
    width: 60%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .timeline .timeline-wrapper .timeline-panel {
    width: 68%;
  }
}

/*  --------------------  COLORS  -------------------- */

/* ----------- primary ----------- */

.timeline-wrapper-primary .timeline-panel:before {
  background: #464dee;
}

.timeline-wrapper-primary .timeline-badge {
  background: #464dee;
}

.timeline-wrapper-primary .timeline-title i {
  color: #464dee;
  box-shadow: 1px 1px 1px 1px #464dee;
}

/* ----------- secondary ----------- */

.timeline-wrapper-secondary .timeline-panel:before {
  background: #6c7293;
}

.timeline-wrapper-secondary .timeline-badge {
  background: #6c7293;
}

.timeline-wrapper-secondary .timeline-title i {
  color: #6c7293;
  box-shadow: 1px 1px 1px 1px #6c7293;
}


/* ----------- success ----------- */

.timeline-wrapper-success .timeline-panel:before {
  background: #0ddbb9;
}

.timeline-wrapper-success .timeline-badge {
  background: #0ddbb9;
}

.timeline-wrapper-success .timeline-title i {
  color: #0ddbb9;
  box-shadow: 1px 1px 1px 1px #0ddbb9;
}

/* ----------- info ----------- */

.timeline-wrapper-info .timeline-panel:before {
  background: #0ad7f7;
}

.timeline-wrapper-info .timeline-badge {
  background: #0ad7f7;
}

.timeline-wrapper-info .timeline-title i {
  color: #0ad7f7;
  box-shadow: 1px 1px 1px 1px #0ad7f7;
}

/* ----------- warning ----------- */

.timeline-wrapper-warning .timeline-panel:before {
  background: #fcd539;
}

.timeline-wrapper-warning .timeline-badge {
  background: #fcd539;
}

.timeline-wrapper-warning .timeline-title i {
  color: #fcd539;
  box-shadow: 1px 1px 1px 1px #fcd539;
}

/* ----------- danger ----------- */


.timeline-wrapper-danger .timeline-panel:before {
  background: #ef5958;
}

.timeline-wrapper-danger .timeline-badge {
  background: #ef5958;
}

.timeline-wrapper-danger .timeline-title i {
  color: #ef5958;
  box-shadow: 1px 1px 1px 1px #ef5958;
}

/* ----------- light ----------- */


.timeline-wrapper-light .timeline-panel:before {
  background: #eaeaea;
}

.timeline-wrapper-light .timeline-badge {
  background: #eaeaea;
}

.timeline-wrapper-light .timeline-title i {
  color: #eaeaea;
  box-shadow: 1px 1px 1px 1px #eaeaea;
}

/* ----------- dark ----------- */

.timeline-wrapper-dark .timeline-panel:before {
  background: #001737;
}

.timeline-wrapper-dark .timeline-badge {
  background: #001737;
}

.timeline-wrapper-dark .timeline-title i {
  color: #001737;
  box-shadow: 1px 1px 1px 1px #001737;
}

/*  --------------------  Cards  -------------------- */

.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  /* border: 0; */
  position: absolute;
}

.card .card-body {
  padding: 1rem 1rem;
}

.card .card-body + .card-body {
  padding-top: 1rem;
}

.card .card-title {
  color: #001737;
  margin-bottom: .5rem;
  text-transform: capitalize;
  font-size: 0.875rem;
}

.card .card-subtitle {
  font-weight: 400;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.card .card-description {
  margin-bottom: .875rem;
  font-weight: 400;
  color: #76838f;
}

.card.card-outline-success {
  border: 1px solid #0ddbb9;
}

.card.card-outline-primary {
  border: 1px solid #464dee;
}

.card.card-outline-warning {
  border: 1px solid #fcd539;
}

.card.card-outline-danger {
  border: 1px solid #ef5958;
}

.card.card-rounded {
  border-radius: 5px;
}

.card.card-faded {
  background: #b5b0b2;
  border-color: #b5b0b2;
}

.card.card-circle-progress {
  color: #ffffff;
  text-align: center;
}

.card.card-img-holder {
  position: relative;
}

.card.card-img-holder .card-img-absolute {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.card.card-weather .weather-daily .weather-day {
  opacity: .5;
  font-weight: 900;
}

.card.card-weather .weather-daily i {
  font-size: 20px;
}

.card.card-weather .weather-daily .weather-temp {
  margin-top: .5rem;
  margin-bottom: 0;
  opacity: .5;
  font-size: .75rem;
}

.card-inverse-primary {
  background: rgba(70, 77, 238, 0.2);
  border: 1px solid #4047db;
  color: #353bb5;
}

.card-inverse-secondary {
  background: rgba(108, 114, 147, 0.2);
  border: 1px solid #636987;
  color: #525770;
}

.card-inverse-success {
  background: rgba(13, 219, 185, 0.2);
  border: 1px solid #0cc9aa;
  color: #0aa68d;
}

.card-inverse-info {
  background: rgba(10, 215, 247, 0.2);
  border: 1px solid #09c6e3;
  color: #08a3bc;
}

.card-inverse-warning {
  background: rgba(252, 213, 57, 0.2);
  border: 1px solid #e8c434;
  color: #c0a22b;
}

.card-inverse-danger {
  background: rgba(239, 89, 88, 0.2);
  border: 1px solid #dc5251;
  color: #b64443;
}

.card-inverse-light {
  background: rgba(234, 234, 234, 0.2);
  border: 1px solid #d7d7d7;
  color: #b2b2b2;
}

.card-inverse-dark {
  background: rgba(0, 23, 55, 0.2);
  border: 1px solid #001533;
  color: #00112a;
}

/*--------------------------------------------------------------
# FontAwesome
--------------------------------------------------------------*/

i.fab, i.far {
  /* border: 10px; */
  font-size: 30px;
}

.fa-linkedin {
  color: rgb(50, 32, 209);
}

.fa-linkedin:hover {
  color: rgb(120, 71, 255);
}

.fa-github {
  color: rgb(0, 0, 0);
}

.fa-github:hover {
  color: rgb(31, 146, 136);
}

.fa-whatsapp {
  color: rgb(33, 156, 49);
}

.fa-file{
  color: rgb(25, 15, 170);
}

.fa-whatsapp:hover {
  color: rgb(54, 52, 207);
}

.fa-google-drive {
  color: rgb(204, 169, 14);
}

.fa-google-drive:hover {
  color: rgb(9, 158, 9);
}

.fa-google {
  color: rgb(68, 103, 216);
}

.fa-google:hover {
  color: rgb(68, 216, 68);
}

.fa-code {
  color: rgb(54, 52, 207);
}